
<router-outlet />

<div style="width: 50%;margin-left: 25%;">
  <h3>NG-Content</h3>
  <app-child>
    <h5 class="head">Angular</h5>
    <h2 class="head">Angular</h2>
    <p class="content">Angular is a TypeScript-based free and open-source single-page web 
      application framework run on Node.js. It is developed by Google and by a 
      community of individuals and corporations. Angular is a complete rewrite 
      from the same team that built AngularJS</p>
      <span style="float: right;" class="foot">Developed by Google</span>
  </app-child>

  <app-child>
    <h5 class="head">React</h5>
    <p class="content">React is a free and open-source front-end JavaScript library for building user interfaces 
      based on components. It is maintained by Meta and a community of individual developers and companies. 
      React can be used to develop single-page, mobile, or server-rendered applications with frameworks 
      like Next.js.</p>
      <span style="float: right;" class="foot">It is maintained by Meta</span>
  </app-child>
  <app-child>
    <h5 class="head">Next js</h5>
    <img style="margin: 5px;" class="content" src="https://angular.dev/assets/icons/apple-touch-icon.png" />
    
  </app-child>
</div>